<div class="container">

<br>
<br>
  <div class="row">
    <h2>{{course.code}}</h2>

  </div>
  <div class="row">
    <h3>{{course.title}}</h3>
  </div>


  <div class="row justify-content-md-center">
    <span>Pie chart of content marked</span>
  </div>
  <br><br><br>




  <br><br><br>
  <div class="row justify-content-md-center">
    <div class="col-sm-5">
      Percent marked
      <div class="progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': percentMarked}" aria-valuenow='0' aria-valuemin="0" aria-valuemax="100">{{course.percentMarked}}%</div>
      </div>
    </div>
  </div>

  <br><br><br>

  <div class="row justify-content-md-center">
    <div class="col-sm-5">
      Weighting breakdown
      <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>
    </div>
  </div>




  <br><br><br>

  <div class="row justify-content-md-center">
    <h3>Current grade</h3>
  </div>
  <div class="row justify-content-md-center">
    <circle-progress
    [percent]=course.currentPercent
    [radius]="100"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>




  <!-- Header row -->
    <h2>Assessment Items:</h2>
  <div class="row justify-content-md-center">
    <div class="col-sm-5 bg-info" style="padding:25px;">
    </div>
    <div class="col-sm-2 bg-info text-center" style="padding:15px;">
      <span>Mark needed to pass</span>
    </div>
    <div class="col-sm-2 bg-info text-center" style="padding:15px;">
      <span>My mark</span>
    </div>
  </div>

  <div *ngFor="let courseItem of courseItems">
    <app-course-item [courseItem]="courseItem" [course]="course"></app-course-item>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-sm-9 bg-info text-center" style="padding:25px;">
      <span> Checksum:{{course.courseItemsWeightingChecksum}}</span> <button (click)="addItem()">Add Assignment</button>
    </div>
  </div>

  <br><br><br>
  <div class="row justify-content-md-center">
    <a class="btn btn-outline-danger" href="#" role="button" data-toggle="modal" data-target="#deleteModel">Delete Course</a>
  </div>

</div>




<!-- Delete course Modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="title">Delete this course?</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button (click)="deleteCourse()" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
