<div class="container">

<br>
<br>
  <div class="row">
    <h2>{{course.title}}</h2>
  </div>

  <canvas id="pieChart" width="400" height="400"></canvas>


  <div class="row justify-content-md-center">
    <span>Pie chart of content marked</span>
  </div>
  <br><br><br>

  <div class="row justify-content-md-center">
    <span>Current grade: {{course.currentPercent}}</span>
  </div>


  <br><br><br>
  <div class="row justify-content-md-center">
    <div class="col-sm-5">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{course.percentMarked}}% Marked</div>
      </div>
    </div>
  </div>

  <br><br><br>

  <div class="row justify-content-md-center">
    <div class="col-sm-5">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Weighting breakdown</div>
      </div>
    </div>
  </div>

  <br><br><br>


  <!-- Header row -->
    <h2>Assessment Items:</h2>
  <div class="row justify-content-md-center">
    <div class="col-sm-5 bg-info" style="padding:25px;">
    </div>
    <div class="col-sm-2 bg-info text-center" style="padding:15px;">
      <span>Mark needed to pass</span>
    </div>
    <div class="col-sm-2 bg-info text-center" style="padding:15px;">
      <span>My mark</span>
    </div>
  </div>

  <div *ngFor="let courseItem of courseItems">
    <app-course-item [courseItem]="courseItem"></app-course-item>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-sm-9 bg-info text-center" style="padding:25px;">
      <span>Add Assignment</span>
    </div>
  </div>
</div>
