<div class="col-sm">
  <div class="card ">
    <div class="card-body">
      <h4 class="card-title">{{course.title}}</h4>
      <br>

      <!-- progress circle from: https://bootsnipp.com/snippets/featured/circle-progress-bar-->
      <div class="progress-circle blue">
        <span class="progress-circle-left">
          <span class="progress-circle-bar"></span>
        </span>
        <span class="progress-circle-right">
          <span class="progress-circle-bar"></span>
        </span>
        <div class="progress-circle-value">{{course.currentPercent}}</div>
      </div>
      <p class="card-text text-center">Current grade</p>
      <!-- /progress circle -->
      <div class="alert alert-success text-center" role="alert">{{course.currentGrade}}</div>

    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p class="card-text">Marked</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow='25' aria-valuemin="0" aria-valuemax="100">{{course.percentMarked}}</div>
        </div>
      </li>
    </ul>
    <div class="card-body">
      <a href="#" class="btn btn-outline-primary btn-lg btn-block">Edit</a>
    </div>
  </div>
</div>
