<?xml version="1.0" encoding="UTF-8" ?>
<configuration xmlns="http://www.jooq.org/xsd/jooq-codegen-3.9.0.xsd">
    <!-- JDBC Configuration (this is similar to the context.xml config -->
    <!-- NOTE: Errors occur if the server timezone is not set! -->
    <jdbc>
        <driver>com.mysql.jdbc.Driver</driver>
        <url>jdbc:mysql://localhost:3306/PackageDeals?serverTimezone=UTC</url>
        <user>root</user>
        <password></password>
    </jdbc>

    <generator>
        <!-- This specified what class is used to generate the table mappings -->
        <!-- This is the default value (don't change) -->
        <name>org.jooq.util.JavaGenerator</name>

        <!-- Specify what type of database is to be used -->
        <!-- Here we are specifying the database is MYSQL -->
        <!-- We are including all tables + columns, and excluding none -->
        <database>
            <name>org.jooq.util.mysql.MySQLDatabase</name>
            <includes>.*</includes>
            <excludes></excludes>
        </database>

        <!-- Specify where the table mappings will be output -->
        <!-- We specify the package they will live in and the root source directory -->
        <target>
            <packageName>my.project.models.db</packageName>
            <directory>../../src</directory>
        </target>
    </generator>
</configuration>