<div class="container">
  <br>
  <br>
  <br>
  <div class="row">
  <h2>Summary</h2>
</div>

  <div class="row">
    <div class="col-sm">
      <div class="card" style="padding:25px">

        <div class="row">
          <div class="col-sm">
            <div class="card bg-success text-center">
              <div class="card-body">
                <h4 class="card-title">GPA</h4>
                <h5 class="card-title">6.1</h5>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card text-center">
              <div class="card-body">
                <h4 class="card-title">Units completed</h4>
                <h5 class="card-title">120</h5>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card bg-success text-center">
              <div class="card-body">
                <h4 class="card-title">GPA</h4>
                <h5 class="card-title">6.1</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <a href="">Edit</a>
            <a href="">See more</a>
          </div>
        </div>


      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <div class="row">
    <h2>My Courses</h2>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-sm">
      <div class="card ">
        <div class="card-body">
          <h4 class="card-title">SENG3400</h4>
          <br>

          <!-- progress circle from: https://bootsnipp.com/snippets/featured/circle-progress-bar-->
          <div class="progress-circle blue">
            <span class="progress-circle-left">
              <span class="progress-circle-bar"></span>
            </span>
            <span class="progress-circle-right">
              <span class="progress-circle-bar"></span>
            </span>
            <div class="progress-circle-value">90%</div>
          </div>
          <p class="card-text text-center">Current grade</p>
          <!-- /progress circle -->
          <div class="alert alert-success text-center" role="alert">High Distinction</div>

        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="card-text">Marked</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
          </li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-outline-primary btn-lg btn-block">Edit</a>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card ">
        <div class="card-body">
          <h4 class="card-title">SENG3400</h4>
          <br>

          <!-- progress circle from: https://bootsnipp.com/snippets/featured/circle-progress-bar-->
          <div class="progress-circle blue">
            <span class="progress-circle-left">
              <span class="progress-circle-bar"></span>
            </span>
            <span class="progress-circle-right">
              <span class="progress-circle-bar"></span>
            </span>
            <div class="progress-circle-value">90%</div>
          </div>
          <p class="card-text text-center">Current grade</p>
          <!-- /progress circle -->
          <div class="alert alert-success text-center" role="alert">High Distinction</div>

        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="card-text">Marked</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
          </li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-outline-primary btn-lg btn-block">Edit</a>
        </div>
      </div>
    </div>  <div class="col-sm">
      <div class="card ">
          <div class="card-body">
            <h4 class="card-title">SENG3400</h4>
            <br>

            <!-- progress circle from: https://bootsnipp.com/snippets/featured/circle-progress-bar-->
            <div class="progress-circle blue">
              <span class="progress-circle-left">
                <span class="progress-circle-bar"></span>
              </span>
              <span class="progress-circle-right">
                <span class="progress-circle-bar"></span>
              </span>
              <div class="progress-circle-value">90%</div>
            </div>
            <p class="card-text text-center">Current grade</p>
            <!-- /progress circle -->
            <div class="alert alert-success text-center" role="alert">High Distinction</div>


          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <p class="card-text">Marked</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
              </div>
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-outline-primary btn-lg btn-block">Edit</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card ">
          <div class="card-body">
            <h4 class="card-title">SENG3400</h4>
            <br>

            <!-- progress circle from: https://bootsnipp.com/snippets/featured/circle-progress-bar-->
            <div class="progress-circle blue">
              <span class="progress-circle-left">
                <span class="progress-circle-bar"></span>
              </span>
              <span class="progress-circle-right">
                <span class="progress-circle-bar"></span>
              </span>
              <div class="progress-circle-value">90%</div>
            </div>
            <p class="card-text text-center">Current grade</p>
            <!-- /progress circle -->
            <div class="alert alert-success text-center" role="alert">High Distinction</div>

          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <p class="card-text">Marked</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
              </div>
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-outline-primary btn-lg btn-block">Edit</a>
          </div>
        </div>
      </div>
  </div>
</div>
