

<div class="jumbotron">
  <div>
  <h1 class="display-4 inlineEdit">{{account.fullname}}</h1> <button class="btn btn-link" >Edit</button>
</div>
<div>
  <p class="lead inlineEdit">{{account.institutionName}}</p> <button class="btn btn-link" >Edit</button>
</div>
<div>
  <p class="inlineEdit">Program: {{account.program}}</p> <button class="btn btn-link" >Edit</button>
</div>
<div>
  <p class="inlineEdit">Email: {{account.email}}</p> <button class="btn btn-link" >Edit</button>
</div>
  <hr class="my-4">
  <p>
    <a class="btn btn-danger" href="#" role="button">Delete account</a>
    <a class="btn btn-outline-danger" href="#" role="button">Reset Password</a>

  </p>




</div>
