

<div class="jumbotron">
  <div>
  <h1 class="display-4 inlineEdit">{{account.fullname}}</h1> <button class="btn btn-link"  data-toggle="modal" data-target="#exampleModalCenter">Edit</button>
</div>
<div>
  <p class="lead inlineEdit">{{account.institutionName}}</p> <button class="btn btn-link" >Edit</button>
</div>
<div>
  <p class="inlineEdit">Program: {{account.program}}</p> <button class="btn btn-link" >Edit</button>
</div>
<div>
  <p class="inlineEdit">Email: {{account.email}}</p> <button class="btn btn-link" >Edit</button>
</div>
  <hr class="my-4">
  <p>
    <a class="btn btn-danger" href="#" role="button">Delete account</a>
    <a class="btn btn-outline-danger" href="#" role="button">Reset Password</a>

  </p>




</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
